@model web.Models.Kotitev

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kotitev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumKotitve" class="control-label"></label>
                <input asp-for="DatumKotitve" class="form-control" />
                <span asp-validation-for="DatumKotitve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteviloMladih" class="control-label"></label>
                <input asp-for="SteviloMladih" class="form-control" />
                <span asp-validation-for="SteviloMladih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteviloMrtvih" class="control-label"></label>
                <input asp-for="SteviloMrtvih" class="form-control" />
                <span asp-validation-for="SteviloMrtvih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opombe" class="control-label"></label>
                <input asp-for="Opombe" class="form-control" />
                <span asp-validation-for="Opombe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

